body {
    text-align: center;
    font-family: "Comic Sans MS";
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 5em;
    padding: 5px;
    font-size: 15px;
    margin-right: 15px;
    border: 2px solid rgb(20, 145, 194);;
}

input[type=color] {
    background: #0b4cad; 
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    cursor: pointer;    
    -webkit-appearance: none;
    background-color: none;
    margin-bottom: 18px;
    border-color: #0b4cad;
  }

.grid {
    margin: 1em auto;
    border-collapse: collapse;
}

.grid td {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    font-size: 13px;
    background-color: white;
}

.grid td.clicked {
    background-color: rgb(133, 226, 242);
}

h1 {
    font-weight: 700;
    color: #F9E609;
    font-size: 70px;
    margin: 10px;
    -webkit-margin-after: 0.7em;
}

h2 {
    
    color: #F4DF09;
    margin: 15px;
}

.container {
    margin: 0 auto;
    padding: 3%;
    width: 80%;
    height: auto;
    box-shadow: 0 5px 15px 5px rgba(15, 15, 15, 0.5);
    border: 7px solid #0d47a1;
    border-radius: 25px;
}

#sizePicker {
    color: #CFEE1B;
    font-size: 18px;
    
}

#btnSubmit, #btnReset  {
    background-color: rgb(20, 145, 194); 
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-family: "comic sans MS";
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    
}

#btnSubmit:hover, #btnReset:hover  {
    background-color: rgb(104, 208, 94);
    transform: scale(1.2);
    
}

#colorPicker:hover , .color:hover {
    
    transform: scale(1.4);
    cursor: pointer;
}

.predefined-colors {
    margin: 0 auto 15px auto;
  }
  .predefined-colors > div {
    display: inline-block;
    border: 3px solid #0b4cad;
    border-radius: 5px;
    width: 40px;    
    height: 20px;
  }
  /* Predefined colors set */
  .predefined-colors .color:nth-child(1) {
    background: #f43656;
  }
  .predefined-colors .color:nth-child(2) {
    background: #ffa755fb;
  }
  .predefined-colors .color:nth-child(3) {
    background: #fce303;
  }
  .predefined-colors .color:nth-child(4) {
    background: #23e06c;
  }
  .predefined-colors .color:nth-child(5) {
    background: #4ee7f1;
  }
  
.predefined-colors .color:nth-child(6) {
    background: #2a9df5;
  }
  .predefined-colors .color:nth-child(7) {
    background: #917bf5;
  }